#============= crash_dump ==============
allow crash_dump bluetooth_data_file:file r_file_perms;
allow crash_dump resourcecache_data_file:file r_file_perms;
